body {
    font-family: "Courier New";
    background-color: black;
    color: white;
}

h1 {
    background-color: greenyellow;
    color: black;
    text-align: center;
}

button {
    background-color: greenyellow;
    border: 0;
}

input {
    background-color: yellowgreen;
    color: black;
}

::placeholder {
    color: black;
    font-size: 150%;
}

input {
    width: 500px;
}

#toDoList {
    list-style-type: none;
}

li {
    padding: 4px;
}

.done {
    text-decoration: line-through;
}